.navbar-inner {
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
background: #ff7f24; /* Old browsers */
background: -moz-linear-gradient(top, #ff7f24 0%, #ee7620 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7f24), color-stop(100%,#ee7620)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ff7f24 0%,#ee7620 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ff7f24 0%,#ee7620 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ff7f24 0%,#ee7620 100%); /* IE10+ */
background: linear-gradient(to bottom, #ff7f24 0%,#ee7620 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7f24', endColorstr='#ee7620',GradientType=0 ); /* IE6-9 */
  border: 1px solid #8b4512;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  *zoom: 1;
}
.navbar-text {
  margin-bottom: 0;
  line-height: 40px;
  color: #ffffff;
}
.navbar-link {
  color: #ffffff;
}
.navbar-link:hover {
  color: #000000;
}
.navbar .divider-vertical {
  height: 40px;
  margin: 0 9px;
  border-left: 1px solid #71912c;
  border-right: 1px solid #80a532;
}
.navbar .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 1px 0 #ee7620;
}
.navbar .nav .dropdown-toggle .caret {
  margin-top: 8px;
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: transparent;
  color: #000000;
  text-decoration: none;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #cd661c;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

#map-container ul.nav {margin-left: 40px;}
#header {background-color: #ffd487;}

#contextnavbar .navbar-inner {
  margin-top: 5px;
background: #ffd487; /* Old browsers */
background: -moz-linear-gradient(top, #ffd487 0%, #ffd487 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd487), color-stop(100%,#ffd487)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffd487 0%,#ffd487 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffd487 0%,#ffd487 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffd487 0%,#ffd487 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffd487 0%,#ffd487 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd487', endColorstr='#ffd487',GradientType=0 ); /* IE6-9 */

  border-bottom: 1px solid #eee;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.065);
  *zoom: 1;
}

#contextnavbar .navbar-link {
  color: #912f03;
}
#contextnavbar .navbar-link:hover {
  color: #111;
}
#contextnavbar .nav > li > a {
  color: #912f03;
  text-shadow: none;
}
#contextnavbar .nav > li > a:focus,
#contextnavbar .nav > li > a:hover {
  background-color: #c9641b;
  color: white;
}
#contextnavbar .nav > .active > a,
#contextnavbar .nav > .active > a:hover,
#contextnavbar .nav > .active > a:focus {
  color: white;
  text-decoration: none;
  background-color: #c9641b;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

#top a {color: #07685b;}
